In [2]:
# Import libraries

import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
playoff_data_DF = pd.read_excel('Playoff DataFrame.xlsx')
playoff_data_DF.rename(columns={'Unnamed: 0': 'Player Name'}, inplace = True)
playoff_data_DF

              Player Name  Playoff Games Played  Playoff Points Scored
0          Alaa Abdelnaby                    17                     38
1         Zaid Abdul-Aziz                    18                     92
2     Kareem Abdul-Jabbar                   237                   5762
3      Mahmoud Abdul-Rauf                    15                    195
4       Tariq Abdul-Wahad                    13                     68
...                   ...                   ...                    ...
2723         Wang Zhi-zhi                    16                     30
2724          Paul Zipser                     6                     44
2725           Ante Zizic                     8                     13
2726          Ivica Zubac                    21                    155
2727           Matt Zunic                     9                     26

[2728 rows x 3 columns]

In [4]:
playoff_data_DF.sort_values('Playoff Points Scored', ascending = False, inplace=True)
playoff_data_DF.index = np.arange(1, len(playoff_data_DF) + 1)

In [5]:
playoff_data_DF

              Player Name  Playoff Games Played  Playoff Points Scored
1            LeBron James                   264                   7578
2          Michael Jordan                   179                   5987
3     Kareem Abdul-Jabbar                   237                   5762
4             Kobe Bryant                   220                   5640
5        Shaquille O'Neal                   216                   5250
...                   ...                   ...                    ...
2724        Justin Harper                     1                      0
2725          Randy White                     1                      0
2726       Aaron Harrison                     2                      0
2727       Antonio Harvey                     5                      0
2728        Isaiah Taylor                     3                      0

[2728 rows x 3 columns]

In [102]:
top200 = playoff_data_DF.nlargest(200, 'Playoff Points Scored')

fig = px.scatter(data_frame = top200, x="Playoff Games Played", y="Playoff Points Scored",
                 size = 'Playoff Points Scored', trendline = 'ols', template = 'plotly_white',
                 title = 'Top 200 Scorers: NBA Playoff History',
                 color="Playoff Points Scored", size_max=15,
                 hover_name= top200.index.astype(str) + '. ' + top200['Player Name'],
                 color_continuous_scale=px.colors.sequential.Jet, width = 980, height = 850) 

fig.add_hline(y = top200['Playoff Points Scored'].mean())
fig.add_vline(x = top200['Playoff Games Played'].mean())

report = dp.Report(dp.Plot(fig)) #Create a report
report.publish(name='top200', open=True, visibility=dp.Visibility.PUBLIC) #Publish the report

Publishing document and associated data - *please wait...*

Your report doesn't contain any text - did you know you can add text to your report from your browser once published?

Your report only contains a single element - did you know you can add multiple plots and tables to a report, add text to it and export directly to Medium once published?

Report successfully published at https://datapane.com/u/wmblack23/reports/top200/ - you can edit and add additional text online

In [100]:
import datapane as dp

fig = px.scatter(data_frame = playoff_data_DF, x="Playoff Games Played", y="Playoff Points Scored",
                 title = 'NBA Playoff Scoring Leaderboard', width = 980, height = 850)

report = dp.Report(dp.Plot(fig)) #Create a report
report.publish(name='NBA Playoff Scoring', open=True, visibility=dp.Visibility.PUBLIC) #Publish the report

Publishing document and associated data - *please wait...*

Your report doesn't contain any text - did you know you can add text to your report from your browser once published?

Your report only contains a single element - did you know you can add multiple plots and tables to a report, add text to it and export directly to Medium once published?

Report successfully published at https://datapane.com/u/wmblack23/reports/nba-playoff-scoring/ - you can edit and add additional text online

- Career playoff games played in the parentheses next to player name.
---

In [25]:
table = dp.DataTable(playoff_data_DF)
report = dp.Report(table)
report.publish(name='NBA Playoff Leading Scorers', visibility=dp.Visibility.PUBLIC)

Publishing document and associated data - *please wait...*

Your report doesn't contain any text - did you know you can add text to your report from your browser once published?

Your report only contains a single element - did you know you can add multiple plots and tables to a report, add text to it and export directly to Medium once published?

Report successfully published at https://datapane.com/u/wmblack23/reports/nba-playoff-leading-scorers/ - you can edit and add additional text online

In [111]:
top10 = playoff_data_DF.nlargest(10, 'Playoff Points Scored')
top10['Points per Game'] = round(top10['Playoff Points Scored'] / top10['Playoff Games Played'], 2).astype(str)


fig = px.bar(data_frame = top10, x="Player Name", y="Points per Game",
             title = 'Top 10 Playoff Scorers - Points per Game',
             color = 'Playoff Points Scored', color_continuous_scale=px.colors.sequential.Bluered,
             template='xgridoff')

report = dp.Report(dp.Plot(fig)) #Create a report
report.publish(name='top 10 ppg', open=True, visibility=dp.Visibility.PUBLIC) #Publish the report

Publishing document and associated data - *please wait...*

Your report doesn't contain any text - did you know you can add text to your report from your browser once published?

Your report only contains a single element - did you know you can add multiple plots and tables to a report, add text to it and export directly to Medium once published?

Report successfully published at https://datapane.com/u/wmblack23/reports/top-10-ppg/ - you can edit and add additional text online

In [ ]:
Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']